.layout-container {
	display: flex;
}

.layout-container > div {
	width: 50%;
}

.layout-container > div:not(:first-child) {
	padding-left: .3em;
}

.encrypt-section {
}

.encrypt-section textarea {
	height: 25em;
	width: 100%;
}

.actions {
	padding-top: .5em;
}

.actions > *:not(:first-child) {
	margin-left: .5em;
}