.layout-container {
	display: flex;
}

.layout-container > div {
	width: 50%;
}

.layout-container > div:not(:first-child) {
	padding-left: .3em;
}

.encrypt-section .key-field {
	margin-bottom: .3em;
}
.encrypt-section #key {
	width: 100%;
}

.encrypt-section textarea {
	height: 25em;
	width: 100%;
}

.form {
	padding: .3em;
}

.actions {
	padding-left: .3em;
}

.actions > *:not(:first-child) {
	margin-left: .5em;
}