html
  head
    title= "Encrypt - Decrypt"
    link(rel='stylesheet', href="/r/main.css")

  body
    h1= "Hello"
    div#app
      div.form.encrypt-section
        div.layout-container
          div
            textarea(id="input", v-model="input")
          div
            textarea(id="output", v-model="output")
      div.actions
          button(id="encrypt", value="encrypt", @click="encrypt")= "Encrypt"
          button(id="decrypt", value="decrypt", @click="decrypt")= "Decrypt"
    
    script(src="https://unpkg.com/vue")
    script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.3")
    script(src="/r/main.js")